<div class="container">
	<h1><%= I18n.t("menus.editClient") %></h1>

	<%= render 'form' %>

	<button class="btn btn-secondary btn-xs" type="button"><%= link_to I18n.t("links.show"), @client %></button> |
	<button class="btn btn-secondary btn-xs" type="button"><%= link_to I18n.t("links.back"), clients_path %></button>
</div>